a[href^='tel:'] {
  text-decoration: none;
  color: var(--brand-color);
  white-space: nowrap;
}
a[href^='tel:']::before {
  content: '📱';
  font-family: "Segoe UI Emoji", emoji, sans-serif;
  display: inline-block;
  text-align: center;
  width: 3ch;
}
a[href^='tel:+742']::before {
  content: '📞';
  content: '☏';
  content: '☎';
}
a[href^='tel:'].fax::before {
  content: '📠';
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
noscript {
  position: fixed;
  padding: 1ch;
  text-align: center;
  color: red;
  --noscript-text-shadow-color: white;
  text-shadow: -1px 0 0 var(--noscript-text-shadow-color), 0 -1px 0 var(--noscript-text-shadow-color), 1px 0 0 var(--noscript-text-shadow-color), 0 1px 0 var(--noscript-text-shadow-color);
  left: 10px;
  top: 10px;
  width: 20ch;
  background-color: rgba(255, 200, 200, 0.8);
  border: 1px solid red;
}
html {
  box-sizing: border-box;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  --brand-color: #0c98d9;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
details summary {
  cursor: pointer;
}
.v-text {
  writing-mode: vertical-lr;
}
@media print {
  .v-text {
    writing-mode: horizontal-tb;
  }
}
.nobr {
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
}
.page {
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto min-content min-content;
  grid-template-areas: "header" "nav-header" "main" "nav-footer" "footer";
}
.header {
  grid-area: header;
}
.nav-header {
  grid-area: nav-header;
}
.main {
  grid-area: main;
  width: 100%;
}
.nav-footer {
  grid-area: nav-footer;
}
.footer {
  grid-area: footer;
}
.container {
  --container-width: min(960px, 100%);
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.container--wide {
  max-width: min(calc(var(--container-width) + 60px), calc(960px + 60px));
}
@media (max-width: 767.98px) {
  .page__body {
    grid-template-rows: min-content min-content min-content auto min-content;
    grid-template-areas: "header" "nav-footer" "nav-header" "main" "footer";
  }
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("/fonts/PTS55F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  src: local("PT Sans Italic"), url("/fonts/PTS56F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("/fonts/PTS75F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: bold;
  src: local("PT Sans Bold Italic"), url("/fonts/PTS76F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Caption";
  src: local("PT Sans Caption"), url("/fonts/PTC55F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Caption";
  font-weight: bold;
  src: local("PT Sans Caption Bold"), url("/fonts/PTC75F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow"), url("/fonts/PTN57F_W.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  src: local("PT Sans Narrow Bold"), url("/fonts/PTN77F_W.woff") format("woff");
}
.h1 {
  color: var(--brand-color);
}
.h2 {
  color: var(--brand-color);
}
.h3 {
  color: var(--brand-color);
}
.h4 {
  color: var(--brand-color);
}
.h5 {
  color: var(--brand-color);
}
.table {
  border-collapse: collapse;
  width: 100%;
  page-break-inside: auto;
}
.table tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
.table th,
.table td {
  padding: 0.5ch;
}
.table thead:first-of-type tr th {
  border-bottom: 1px solid grey;
}
.table tbody tr th,
.table tbody tr td {
  border-bottom: 1px solid lightgray;
}
.control {
  padding: 1ch;
}
.header {
  font-size: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: min-content auto;
  grid-gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 767.98px) {
  .header {
    grid-template-columns: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.logo {
  width: 414px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 10px 20px;
  grid-template-areas: "icon text" "slogan slogan";
  align-items: center;
}
.logo__icon {
  display: block;
  padding: 0;
  grid-area: icon;
}
.logo__icon svg {
  width: 147px;
  height: 62px;
}
.logo__icon:hover {
  opacity: 0.8;
}
.logo__text {
  grid-area: text;
  color: #0c98d9;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.33rem;
  font-weight: normal;
  margin: 0;
}
.logo__slogan {
  grid-area: slogan;
  font-size: 1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media (max-width: 767.98px) {
  .logo {
    width: auto;
  }
  .logo__icon svg {
    width: calc(147px / 2);
    height: calc(62px / 2);
  }
}
.contacts {
  display: grid;
  grid-template-areas: "address phones" "working-hours email";
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: end;
  justify-items: end;
}
.contacts__address {
  grid-area: address;
}
.contacts__phones {
  grid-area: phones;
}
.contacts__working-hours {
  grid-area: working-hours;
}
.contacts__email {
  grid-area: email;
}
@media (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}
.nav-header {
  font-size: 1.11rem;
  line-height: 1.1;
  margin-bottom: 3px;
  --gradient-padding: calc((130px - 105px) / 2);
  background-image: url(../img/nav-bg.jpg), linear-gradient(to bottom, transparent 0, transparent var(--gradient-padding), var(--brand-color) var(--gradient-padding), var(--brand-color) 50%, transparent 50%, transparent), linear-gradient(to top, transparent 0, transparent var(--gradient-padding), var(--brand-color) var(--gradient-padding), var(--brand-color) 50%, transparent 50%, transparent);
  background-repeat: no-repeat;
  background-position: center center;
}
.nav-header__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.nav-header__item {
  color: white;
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
  transition: transform 0.1s ease-out;
  --link-padding: 30px;
}
.nav-header__item .nav-header__link {
  padding-left: var(--link-padding);
}
.nav-header__item:last-child .nav-header__link {
  padding-right: var(--link-padding);
}
.nav-header__icon {
  fill: currentColor;
  height: 2em;
  width: auto;
}
.nav-header__caption {
  margin-top: 0;
}
.nav-header__link {
  padding-top: 41px;
  padding-bottom: 41px;
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 12px;
  align-items: center;
  margin: 3px;
}
.nav-header__item:active {
  transform: scale(0.95);
}
.nav-header__item:hover,
.nav-header__item:focus-within {
  background-color: white;
  background-image: url(../img/nav-active-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--brand-color);
}
@media (max-width: 1023.98px) {
  .nav-header {
    background-image: none;
  }
  .nav-header__items {
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    gap: 10px;
  }
  .nav-header__item {
    --link-padding: 5px;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    background-color: var(--brand-color);
  }
  .nav-header__link {
    padding: var(--link-padding);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    margin: 3px;
  }
}
.footer {
  width: 100%;
  border-top: 2px solid #d7e2e8;
  padding: 40px 25px 60px;
  font-size: 0.89rem;
  line-height: 1.5;
}
.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.footer__col {
  flex-grow: 0;
  text-align: start;
}
.nav-footer {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 50px;
}
.nav-footer__menu-switch {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-footer__icon {
  margin: auto;
  stroke: black;
}
.nav-footer__icon-cross,
.nav-footer__icon-menu {
  display: none;
}
.nav-footer__menu-switch.nav-footer__menu-switch--open .nav-footer__icon-cross {
  display: block;
}
.nav-footer__menu-switch:not(.nav-footer__menu-switch--open) .nav-footer__icon-menu {
  display: block;
}
.nav-footer__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nav-footer__item {
  margin: 0;
  padding: 3px;
  flex-grow: 1;
  text-align: center;
}
.nav-footer__item:hover .nav-footer__link,
.nav-footer__item:focus-within .nav-footer__link:focus-visible {
  text-decoration: none;
  color: white;
  background-color: #0c98d9;
  background-size: 100%;
  background-image: linear-gradient(to right bottom, #0095de 0%, #00a5e5 100%);
}
.nav-footer__link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  min-height: 50px;
  line-height: 50px;
}
@media (max-width: 767.98px) {
  .nav-footer__menu-switch {
    display: block;
  }
  .nav-footer__items {
    z-index: 10;
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid orange;
  }
  .nav-footer__items--open {
    display: flex;
  }
  .nav-footer__item {
    margin: 0;
    padding: 0;
    min-height: 0;
    text-align: start;
  }
  .nav-footer__link {
    display: block;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1ch;
    line-height: 1.5;
    font-weight: bold;
    height: auto;
    min-height: 0;
  }
}
.accordion {
  display: flex;
  flex-direction: column;
}
.accordion__item-title {
  margin: 0;
  cursor: pointer;
  display: inline;
  border-bottom: 1px dashed currentColor;
}
.accordion__item[open] .accordion__item-title {
  border-bottom-color: transparent;
  cursor: initial;
}
.contacts-page__phone-list {
  list-style-type: none;
  padding: 0;
}
.contacts-page__phone-list-item {
  display: flex;
  gap: 1ch;
}
.contacts-page__phone-list-item:not(:first-child) {
  margin-top: 5px;
}
.contacts-page__phone-link {
  white-space: nowrap;
}
.package-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}
.package-list__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2ch;
}
.package-list__figure {
  margin: 0;
}
.package-list__img {
  display: block;
  margin: 0 auto;
}
.package-list__caption {
  max-width: 20ch;
  text-align: center;
}
.pricing__table {
  border-collapse: collapse;
  border-top: 1px solid grey;
}
.pricing__directions {
  display: grid;
  gap: 10px;
}
.pricing__table-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  gap: 2ch;
}
.pricing__table caption {
  font-weight: bold;
  position: relative;
}
.pricing__table-measure-unit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: normal;
}
.pricing__table td {
  text-align: center;
}
.pricing__table-wrapper {
  page-break-inside: avoid;
}

/*# sourceMappingURL=style.css.map */
