.announcement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  margin-bottom: 1em;
}

.announcement__block {
  background-color: var(--brand-color-secondary-lightest);
  padding: 1ch;
  border-radius: 3px;
  border: 3px solid firebrick;
}

.announcement__summary {
  cursor: pointer;
}
