.page--information .main article > .h2 {
  margin: 0 0 0.75em;
}

.page--information .main article > section {
  margin: 0 0 1.5rem;
}

.page--information .main article > section > .h3 {
  margin: 0 0 0.5em;
}

.page--information .main article > section > .h4 {
  margin: 1em 0 0.5em;
}

.page--information .main article > section > p:first-of-type {
  margin-top: 0;
}
