.pricing__table {
  border-collapse: collapse;
  border-top: 1px solid grey;
}

.pricing__directions {
  display: grid;
  gap: 10px;
}

.pricing__table-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  gap: 2ch;
}

.pricing__table caption {
  font-weight: bold;
  position: relative;
}

.pricing__table-measure-unit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: normal;
}

.pricing__table-vat-warning {
  font-weight: normal;
}

.pricing__table td {
  text-align: center;
}

.pricing__table tbody tr:nth-child(even) {
  background-color: #f5f9fc;
}

.pricing__table .pricing__active-row,
.pricing__table .pricing__active-column {
  background-color: #dceef9;
}

.pricing__table .pricing__active-cell {
  background-color: #acdafa;
}

.pricing__table td:focus-visible {
  outline: 2px solid #087bb8;
  outline-offset: -2px;
}

@media print {
  .pricing__table .pricing__active-row,
  .pricing__table .pricing__active-column,
  .pricing__table .pricing__active-cell {
    background-color: transparent;
  }
}

.pricing__table-wrapper {
  page-break-inside: avoid;
}
