.announcement
  //- .announcement__block
  //-   | Внимание! С #[time(datetime="2024-07-01") 1 июля 2024 года] действует обновленный #[a(href="pricing.html") прайс-лист].
  //- .announcement__block
  //-   h4.h4(style="margin-top: 0; margin-bottom: 0;") Уважаемые клиенты!
  //-   p(style="text-align: left; margin-bottom: 0;")
  //-     | С 1 июля 2024 года вступает в силу #[a(href="pricing20240701.html") обновленный прайс-лист] на наши услуги по перевозке грузов.
  //-     br
  //-     | Мы постоянно работаем над улучшением качества обслуживания и адаптируем наши тарифы к текущим рыночным трендам.
  //-     br
  //-     | Благодарим за выбор нашей компании и надеемся на продолжение плодотворного сотрудничества.
