.announcement
  //- .announcement__block
  //-   | Внимание! С #[time(datetime="2024-07-01") 1 июля 2024 года] действует обновленный #[a(href="pricing.html") прайс-лист].
  //- .announcement__block
  //-   h4.h4(style="margin-top: 0; margin-bottom: 0;") Уважаемые клиенты!
  //-   h5.h5(style="margin-top: 0; margin-bottom: 0;") График работы ТК «Берг» в праздничные дни

  //-   table.table.table--accent
  //-     thead
  //-       tr
  //-         th(colspan="3") Последняя отправка груза #[br] #[strong(style="text-decoration: underline;") из] Владивостока
  //-         th(colspan="3") Последняя отправка груза #[br] #[strong(style="text-decoration: underline;") во] Владивосток
  //-     tbody
  //-       tr
  //-         td ✦
  //-         td в Комсо&#8203;мольск-на-Амуре
  //-         td 20.12
  //-         td ✦
  //-         td из Комсо&#8203;мольска-на-Амуре
  //-         td 23.12
  //-       tr
  //-         td ✦
  //-         td в Благове&#8203;щенск
  //-         td 24.12
  //-         td ✦
  //-         td из Благове&#8203;щенска
  //-         td 26.12
  //-       tr
  //-         td ✦
  //-         td в Хабаровск #[br] (при наличии груза)
  //-         td 27.12
  //-         td ✦
  //-         td из Хабаровска
  //-         td 27.12

  //-   p(style="margin-bottom: 0;")
  //-     | Последний рабочий день &mdash; #[time(datetime="2024-12-28") суббота 28 декабря] с 9:00 до 14:00.
  //-   p(style="margin-top: 0; margin-bottom: 0;")
  //-     | Первый рабочий день &mdash; #[time(datetime="2025-01-09") четверг 9 января] в обычном режиме.

  //-   h4.h4(style="margin-bottom: 0;") ❄️ С наступающим новым годом!!!❄️
