.announcement
  //- .announcement__block
  //-   h4.h4(style="margin: 0;") Уважаемые партнеры!
  //-   p(style="text-align: justify;").
  //-     Доводим до Вашего сведения, что с #[time(datetime="2023-05-01") 1 мая 2023 года]
  //-     стоимость автоперевозок по городу будет составлять:
  //-   table(style="margin: auto;")
  //-     tbody
  //-       tr
  //-         td(style="padding-bottom: .5em; text-align: end;") Машина грузоподъемностью до 5 т / 25 м³
  //-         td(style="padding-bottom: .5em; padding-left: 1em;") 1700 руб/час
  //-       tr
  //-         td(style="padding-bottom: .5em; text-align: end;") Машина грузоподъемностью до 10 т / 45 м³
  //-         td(style="padding-bottom: .5em; padding-left: 1em;") 2500 руб/час
  //-       tr
  //-         td(style="padding-bottom: .5em; text-align: end;") Машина с прицепом грузоподъемностью более 10&nbsp;т / (от 45 м³ до 90 м³)
  //-         td(style="padding-bottom: .5em; padding-left: 1em;") 3500 руб/час
