.announcement(style="justify-content: left;")
  details.announcement__block
    summary.announcement__summary
      h4.h4(style="margin-top: 0; margin-bottom: 0; cursor: pointer; display: inline;") Изменение стоимости услуг с 1 января 2026 года

    p(style="margin-bottom: 0; text-align: start;")
      | Уважаемые партнеры!
      br
      br
      | Сообщаем, что в связи с изменениями в налоговом законодательстве РФ
      | мы вынуждены с 1 января 2026 года перейти на упрощенную систему налогообложения (УСН),
      | которая предусматривает уплату НДС.
      br
      br
      | Это приведет к изменению стоимости наших услуг с 1 января 2026 года.
      | Просим вас уточнять актуальную
      | #[a(href="/pricing.html" style="color:#c00; font-weight:600") стоимость]
      | на нашем сайте.
      br
      | --
      br
      | С надеждой на понимание и дальнейшее плодотворное сотрудничество, ИП Берг П.Г.
