.announcement
  .announcement__block
    h4.h4(style="margin-top: 0; margin-bottom: 0; min-width: 200px;") Уважаемые партнеры!

    p(style="margin-bottom: 0; text-align: justify;")
      | График работы на новогодние праздники:

    p(style="margin: 4px 0 0; text-align: justify;")
      strong Последний рабочий день в 2025 году:
      br
      | #[time(datetime="2025-12-30") 30.12.25] с 09:00 до 13:00

    p(style="margin: 4px 0 0; text-align: justify;")
      strong Первый рабочий день в новом году:
      br
      | #[time(datetime="2026-01-12") 12.01.26] с 09:00 до 18:00

    p(style="margin: 16px 0 0; text-align: justify; font-size: 0.95em;")
      | Подробный #[a(href="/schedule-2025-dec.html" style="color:#c00; font-weight:600") график]
      | выхода машин в конце декабря

  .announcement__block
    h4.h4(style="margin-top: 0; margin-bottom: 0; min-width: 200px;") Уважаемые партнеры!

    p(style="margin-bottom: 0; text-align: start;")
      | Сообщаем, что в связи с изменениями в налоговом законодательстве РФ
      | мы вынуждены с 1 января 2026 года перейти на упрощенную систему налогообложения (УСН),
      | которая предусматривает уплату НДС.
      br
      | Это приведет к изменению стоимости наших услуг с 1 января 2026 года.
      br
      | Просим вас уточнять актуальную
      | #[a(href="/pricing.html" style="color:#c00; font-weight:600") стоимость]
      | на нашем сайте.
      br
      | --
      br
      | С надеждой на понимание и дальнейшее плодотворное сотрудничество, ИП Берг П.Г.
