.announcement
  .announcement__block
    h4.h4(style="margin: 0;") Уважаемые Клиенты!
    p(style="text-align: justify;").
      Сообщаем Вам, что в связи с изменениями в транспортном
      законодательстве, Вам необходимо в срок
      до #[time(datetime="2023-03-15") 15 марта 2023 года]
      перезаключить договоры перевозки грузов с ТК «БЕРГ»
      (ИП Берг П.Г., ИП Балобаев А.В., ИП Горшунов О.Н.).
      После #[time(datetime="2023-03-15") 15 марта 2023 года] договоры,
      заключенные до #[time(datetime="2022-12-31") 31 декабря 2022 года] будут
      считаться утратившими юридическую силу.
