.announcement
  .announcement__block
    | ⚡⚡⚡ Внимание! Во владивостокском офисе временно не работают стационарные телефоны в связи с неисправностью телефонной линии. По всем вопросам звоните на #[a(href="contacts.html") мобильные номера].
    br
    | Телефон бухгалтерии #[a.tel(href="tel:+79243203283") +79243203283].
