.announcement
  .announcement__block
    h4.h4(style="margin-top: 0; margin-bottom: 0;") Уважаемые клиенты!
    table.table.table--background
      caption
        | График работы ТК Берг
        br
        | в праздничные дни 2024 года
      thead
        tr
          th
          th рабочие дни
          th выходные дни
      tbody
        tr
          td апрель
          td 27
          td 29, 30
        tr
          td май
          td 2, 3, 6, 7, 8
          td 1, 9, 10
