.announcement
  .announcement__block
    h4.h4 Уважаемые партнеры!
    p(style="text-align: start;").
      Доводим до вашего сведения, что в связи со сложившейся экономической ситуацией
      мы вы нуждены повысить стоимость наших услуг с 1 февряля 2024 года:
      (#[a(href="/pricing-20240201.html") новый прайс-лист]).
