.announcement
  .announcement__block
    | ⚡⚡⚡ Уважаемые клиенты! Доводим до вашего сведения, что с 1 октября 2022 года пункт приёма груза в
    | Уссурийске меняет адрес на #[em ул. Сельскохозяйственная, 16а].
