.announcement
  //- .announcement__block
  //-   h4.h4 Уважаемые партнеры!
  //-   p(style="text-align: start;").
  //-     Доводим до вашего сведения, что в связи со сложившейся экономической ситуацией
  //-     мы вынуждены повысить стоимость наших услуг с 1 февраля 2024 года
  //-     (#[a(href="/pricing.html") новый прайс-лист]).
