.announcement
  .announcement__block
    h4.h4(style="margin-top: 0; margin-bottom: 0;") Уважаемые партнеры!
    p(style="margin-bottom: 0; text-align: justify;")
      | Доводим до Вашего сведения, что в связи с возникновением экономических факторов,
      | негативно влияющих на рентабельность грузовых автомобильных перевозок, мы вынуждены
      | увеличить #[a(href="/files/price/price20250301.pdf", target="_blank") стоимость наших услуг] с&nbsp;#[time(datetime="2025-03-01") 1 марта 2025 года].
    p(style="margin-bottom: 0; text-align: justify;")
      | Надеемся на понимание и дальнейшее взаимовыгодное сотрудничество.
