.announcement
  //- .announcement__block
  //-   | Внимание! С #[time(datetime="2024-07-01") 1 июля 2024 года] действует обновленный #[a(href="pricing.html") прайс-лист].
  //- .announcement__block
  //-   h4.h4(style="margin-top: 0; margin-bottom: 0;") Уважаемые клиенты!
  //-   p(style="text-align: left; margin-bottom: 0;")
  //-     | С #[time(datetime="2024-11-01") 1 ноября 2024 года] вступают в силу #[a(href="/files/price/price20241101.pdf" target="_blank") новые тарифы] на наши услуги по перевозке грузов.
  //-     br
  //-     | Спасибо за ваше понимание и доверие!
