.announcement
  .announcement__block
    h4.h4 Уважаемые клиенты!
    p(style="text-align: start;").
      Доводим до Вашего сведения, что произошли изменения в условиях
      отправки грузов в промежуточные населенные пункты маршрута
      Владивосток&nbsp;&mdash; Хабаровск:
    ol(style="text-align: start;")
      li Отправка грузов только по выходным дням (погрузка в машину по пятницам).
      li.
        Грузы, требующие определенных условий хранения, принимаются только
        в день погрузки, с учетом того, что отправка произойдет только через 1-2
        суток (машина без терморежима).
      li Грузы, адресованные на Дальнереченск, выдаются на заправке в районе Тамги.
