.announcement
  .announcement__block
    h4.h4 Уважаемые партнеры!
    p(style="text-align: justify;").
      Доводим до Вашего сведения, что в связи с возникновением экономических факторов, негативно влияющих на рентабельность
      грузовых автомобильных перевозок, мы вынуждены увеличить стоимость наших услуг
      #[span(style="white-space: nowrap;") с #[a(href="pricing20230911.html") #[time(datetime="2023-09-11") 11 сентября 2023 года]]].
    p.h4 Надеемся на понимание и дальнейшее взаимовыгодное сотрудничество.
