footer.footer.container.container--wide
  .footer__columns
    .footer__col © Транспортная компания «Берг», 2015<br>Автоперевозки грузов по Дальнему Востоку
    .footer__col
      address г. Владивосток, пр-кт 100-летия Владивостока, 161А
      a(href="tel:+74232318052") +7 (423) 231-80-52
      |,
      |
      a.fax(href="tel:+74232340015") +7 (423) 234-00-15
