doctype html
html(lang="ru")
  //- //TODO оптимизировать по скорости https://developers.google.com/speed/pagespeed/insights/
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Берг Транспортная компания
    link(rel="icon", href="favicon.ico")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")

    block head

  body.page
    noscript.
      У вас отключен JavaScript, сайт не будет работать нормально

    #sprite.visually-hidden(aria-hidden="true")
      include /public/img/sprite.svg

    include header.pug

    include nav-header.pug

    main.main
      .container
        block content

    nav.nav-footer
      .container.container--wide
        <svg class="visually-hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <symbol id="icon-menu" viewBox="0 0 32 32"><path d="M5 8h22M5 16h22M27 24H5" stroke-width="3" stroke-linecap="round"/></symbol>
            <symbol id="icon-cross" viewBox="0 0 32 32"><path d="M7 24L25 8M25 24L7 8" stroke-width="3" stroke-linecap="round"/></symbol>
        </svg>
        button#nav-footer__menu-switch.nav-footer__menu-switch.nav-footer__menu-switch--open(type="button", aria-expanded="false", aria-controls="nav-footer__items")
          svg.nav-footer__icon(aria-hidden="true", width="32", height="32")
            use.nav-footer__icon-menu(href="#icon-menu")
            use.nav-footer__icon-cross(href="#icon-cross")

        ul#nav-footer__items.nav-footer__items
          -
            const navFooterItems = [
              {href: "about.html", body: "О компании"},
              {href: "contacts.html", body: "Контакты"},
              {href: "containers.html", body: "Перевозка контейнеров"},
              {href: "payment.html", body: "Форма оплаты"},
              {href: "package.html", body: "Упаковка"},
              {href: "truck-service.html", body: "Автосервис"}
            ]

          each item in navFooterItems
            li.nav-footer__item
              a.nav-footer__link(href=item.href)=item.body

      script.
        (()=>{
          const button = document.getElementById('nav-footer__menu-switch');
          const menu = document.getElementById(button.getAttribute('aria-controls'));
          const setClasses = () => {
            if (button.getAttribute('aria-expanded') === 'true') {
              button.classList.add('nav-footer__menu-switch--open');
              menu.classList.add('nav-footer__items--open');
              return;
            };

            button.classList.remove('nav-footer__menu-switch--open');
            menu.classList.remove('nav-footer__items--open');
          }

          setClasses();

          button.addEventListener('click', (event) => {
            const expanded = button.getAttribute('aria-expanded') === 'true';
            button.setAttribute('aria-expanded', !expanded);
            setClasses();
          })
        })();

    footer.footer.container.container--wide
      .footer__columns
        .footer__col © Транспортная компания «Берг», 2015<br>Автоперевозки грузов по Дальнему Востоку
        .footer__col
          address г. Владивосток, пр-кт 100-летия Владивостока, 161А
          a(href="tel:+74232318052") +7 (423) 231-80-52
          |,
          |
          a.fax(href="tel:+74232340015") +7 (423) 234-00-15

    block scripts

    script(src="js/index.js")
