nav.nav-footer
  .container.container--wide
    <svg class="visually-hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
        <symbol id="icon-menu" viewBox="0 0 32 32"><path d="M5 8h22M5 16h22M27 24H5" stroke-width="3" stroke-linecap="round"/></symbol>
        <symbol id="icon-cross" viewBox="0 0 32 32"><path d="M7 24L25 8M25 24L7 8" stroke-width="3" stroke-linecap="round"/></symbol>
    </svg>
    button#nav-footer__menu-switch.nav-footer__menu-switch.nav-footer__menu-switch--open(type="button", aria-expanded="false", aria-controls="nav-footer__items", aria-label="показать или спрятать меню")
      svg.nav-footer__icon(aria-hidden="true", width="32", height="32")
        use.nav-footer__icon-menu(href="#icon-menu")
        use.nav-footer__icon-cross(href="#icon-cross")

    ul#nav-footer__items.nav-footer__items
      -
        const navFooterItems = [
          {href: "about.html", body: "О компании"},
          {href: "contacts.html", body: "Контакты"},
          {href: "containers.html", body: "Перевозка контейнеров"},
          {href: "payment.html", body: "Форма оплаты"},
          {href: "package.html", body: "Упаковка"},
          {href: "truck-service.html", body: "Автосервис"}
        ]

      each item in navFooterItems
        li.nav-footer__item
          a.nav-footer__link(href=item.href)=item.body

  script.
    (()=>{
      const button = document.getElementById('nav-footer__menu-switch');
      const menu = document.getElementById(button.getAttribute('aria-controls'));
      const setClasses = () => {
        if (button.getAttribute('aria-expanded') === 'true') {
          button.classList.add('nav-footer__menu-switch--open');
          menu.classList.add('nav-footer__items--open');
          return;
        };

        button.classList.remove('nav-footer__menu-switch--open');
        menu.classList.remove('nav-footer__items--open');
      }

      setClasses();

      button.addEventListener('click', (event) => {
        const expanded = button.getAttribute('aria-expanded') === 'true';
        button.setAttribute('aria-expanded', !expanded);
        setClasses();
      })
    })();
