-
  const tariffs = {
    startdate: '2025-03-01',
    places: {
      vvo: "Владивосток",
      uss: "Уссурийск",
      khb: "Хабаровск",
      blg: "Благовещенск",
      kms: "Комсомольск-на-Амуре"
    },

    terminals: {
      vvo: "пр-кт 100-летия Владивостока, 161А",
      uss: "ул Сельскохозяйственная, 16А",
      khb: "ул Восточное шоссе, 8Б",
      blg: "ул Чехова, 3",
      kms: "ул Лесозаводская, 6А"
    },

    oversizedRaisingFactor: 1.3,

    loadingOvertimePrice: 4000,

    truckDeliveryPrices: [
      {
        title: "Подача а/м грузоподъемностью до 5 т / 25 м³",
        price: "2000 руб./час"
      },
      {
        title: "Подача а/м грузоподъемностью до 10 т / 45 м³",
        price: "3000 руб./час"
      },
      {
        title: "Подача а/м с прицепом грузоподъемностью более 10 т (от 45&nbsp;м³ до 90 м³)",
        price: "4000 руб./час"
      }
    ],

    heavyCargoPrices: [
      {
        title: "до 1000 кг",
        limit: 1000,
        price: {
          vvo: {khb: 9.0, kms: 13.5, blg: 14.0},
          uss: {khb: 8.0, kms: 12.5, blg: 13.5},
          khb: {vvo: 6.0, uss:  5.0, blg:  9.5, kms: 7.5},
          blg: {khb: 9.5, kms: 11.5, vvo: 12.5},
          kms: {vvo: 6.5, khb: 2.5}
        }
      },
      {
        title: "от 1000 кг до 5000 кг",
        limit: 5000,
        price: {
          vvo: {khb: 8.5, kms: 12.0, blg: 13.5},
          uss: {khb: 6.5, kms: 10.5, blg: 12.0},
          khb: {vvo: 5.0, uss:  4.0, blg:  9.0, kms: 7.0},
          blg: {khb: 8.5, kms: 10.0, vvo: 11.5},
          kms: {vvo: 5.5, khb:  2.0}
        }
      },
      {
        title: "от 5000 кг до 10000 кг",
        limit: 10000,
        price: {
          vvo: {khb: 7.5, kms: 11.0, blg: 13.0},
          uss: {khb: 6.0, kms:  9.5, blg: 11.0},
          khb: {vvo: 4.0, uss:  3.5, blg:  8.0, kms: 6.0},
          blg: {khb: 7.0, kms:  8.5, vvo:  9.5},
          kms: {vvo: 5.0, khb:  1.9}
        }
      },
      {
        title: "от 10000 кг до 15000 кг",
        limit: 15000,
        price: {
          vvo: {khb: 7.0, kms: 10.0, blg: 12.0},
          uss: {khb: 5.5, kms:  9.0, blg: 10.0},
          khb: {vvo: 3.5, uss: 3.2, blg:  7.5, kms: 5.5},
          blg: {khb: 5.0, kms: 7.0, vvo:  8.0},
          kms: {vvo: 4.5, khb: 1.7}
        }
      },
      {
        title: "более 15000 кг",
        limit: Infinity
      }
    ],

    lightCargoPrices: [
      {
        title: "до 5 м³",
        limit: 5,
        price: {
          vvo: {khb: 1800, kms: 2700, blg: 2800},
          uss: {khb: 1600, kms: 2500, blg: 2700},
          khb: {vvo: 1200, uss: 1000, blg: 1900, kms: 1500},
          blg: {khb: 1900, kms: 2300, vvo: 2500},
          kms: {vvo: 1300, khb:  500}
        }
      },
      {
        title: "от 5 м³ до 25 м³",
        limit: 25,
        price: {
          vvo: {khb: 1700, kms: 2400, blg: 2700},
          uss: {khb: 1300, kms: 2100, blg: 2400},
          khb: {vvo: 1000, uss:  800, blg: 1800, kms: 1400},
          blg: {khb: 1700, kms: 2000, vvo: 2300},
          kms: {vvo: 1100, khb:  400}
        }
      },
      {
        title: "от 25 м³ до 50 м³",
        limit: 50,
        price: {
          vvo: {khb: 1500, kms: 2200, blg: 2600},
          uss: {khb: 1200, kms: 1900, blg: 2200},
          khb: {vvo:  800, uss:  700, blg: 1600, kms:  1200},
          blg: {khb: 1400, kms: 1700, vvo: 1900},
          kms: {vvo: 1000, khb:  380}
        }
      },
      {
        title: "от 50 м³ до 75 м³",
        limit: 75,
        price: {
          vvo: {khb: 1400, kms: 2000, blg: 2500},
          uss: {khb: 1100, kms: 1800, blg: 2000},
          khb: {vvo:  700, uss:  640, blg: 1500, kms: 1100},
          blg: {khb: 1000, kms: 1400, vvo: 1600},
          kms: {vvo:  900, khb:  340}
        }
      },
      {
        title: "более 75 м³",
        limit: Infinity
      }
    ],

    minPrices: [
      {
        title: "документы до 0,5 кг",
        limitHeavy: 0.5,
        limitLight: null,
        price: {
          vvo: {khb:  250, kms:  350, blg:  350},
          uss: {khb:  250, kms:  350, blg:  350},
          khb: {vvo:  250, uss:  250, blg:  250, kms:  250},
          blg: {khb:  250, kms:  250, vvo:  250},
          kms: {vvo:  250, khb:  250}
        }
      },
      {
        title: "от 1 кг<br>до 60 кг (0,3 м³)",
        limitHeavy: 60,
        limitLight: 0.3,
        price: {
          vvo: {khb:  550, kms:  800, blg:  850},
          uss: {khb:  500, kms:  750, blg:  800},
          khb: {vvo:  350, uss:  300, blg:  550, kms:  450},
          blg: {khb:  550, kms:  700, vvo:  750},
          kms: {vvo:  400, khb:  150}
        }
      },
      {
        title: "от 60 кг (0,3 м³)<br>до 120 кг (0,6 м³)",
        limitHeavy: 120,
        limitLight: 0.6,
        price: {
          vvo: {khb: 1100, kms: 1600, blg: 1700},
          uss: {khb:  950, kms: 1500, blg: 1600},
          khb: {vvo:  700, uss:  600, blg: 1100, kms:  900},
          blg: {khb: 1150, kms: 1400, vvo: 1500},
          kms: {vvo:  850, khb:  350}
        }
      }
    ],

    fridgePrices: {
      title: "дополнительная плата за рефрижераторную устновку",
      price: {
        vvo: {khb: 4000, kms: 8000, blg: 8000},
        uss: {khb: 4000, kms: 8000, blg: 8000},
        khb: {vvo: 4000, uss: 4000, blg: 4000, kms: 4000},
        blg: {khb: 4000, kms: 8000, vvo: 8000},
        kms: {vvo: 8000, khb: 4000}
      }
    },

    icenginePrices: {
      title: "минимальная стоимость перевозки двигателя внутреннего сгорания",
      price: {
        vvo: {khb: 2000, kms: 2800, blg: 3600},
        uss: {khb:    0, kms:    0, blg:    0},
        khb: {vvo:    0, uss:    0, blg:    0, kms:    0},
        blg: {khb:    0, kms:    0, vvo:    0},
        kms: {vvo:    0, khb:    0}
      }
    }
  }
