a[href^="tel:"],
a[href^="mailto:"] {
  text-decoration: none;
  color: var(--brand-color);
  white-space: nowrap;
}

a[href^="tel:"]::before,
a[href^="mailto:"]::before {
  font-family: "Segoe UI Emoji", emoji, sans-serif;

  display: inline-block;
  text-align: center;
  width: 3ch;
}

a[href^="tel:"]::before {
  content: "📱";
}

a[href^="mailto:"]::before {
  content: "📧";
}

a[href^="tel:+742"]::before {
  content: "📞";
  content: "☏";
  content: "☎";
}

a[href^="tel:"].fax::before {
  content: "📠";
}
