extends ../pug/layout

block content
  article
    img(src="img/map.jpg", alt="", style="display: block; float: right;")
    h2.h2 О&nbsp;компании
    p Более двадцати лет стабильных, качественных перевозок.
    p Ежедневные грузовые перевозки автомобильным транспортом в направлениях:
    ul
      li Владивосток &mdash; Хабаровск и обратно по рабочим дням;
      li Комсомольск-на-Амуре по рабочим дням;
      li Благовещенск по вторникам и четвергам;
      li Гарантированное качество и срок доставки;
      li Страхование, охрана груза;
      li Обрешетка по необходимости;
      li Возможность отправки от 1 кг до 30 т / 135 м³
      li Перевозка реф. фурами 20 т / 100 м³
      li Перевозка с температурным режимом
      li Перевозка 20-футовых контейнеров
