extends ../pug/layout

block head
  script(src="js/calculator.js")

block content
  -
    const places = {
      vvo: "Владивосток",
      uss: "Уссурийск",
      khb: "Хабаровск",
      blg: "Благовещенск",
      kms: "Комсомольск-на-Амуре"
    };

  article
    h2.h2 Тарифный калькулятор

    form
      fieldset
        legend
          h3.h3 Характеристики груза
        .control
          label(for="volume") Масса груза, килограммы
          input#volume(type="text", name="volume")
        .control
          label(for="weight") Объем груза, кубометры
          input#weight(type="text", name="weight")
        .control
          p Легкий груз | Тяжелый груз
        .control
          input#icengine(type="checkbox", name="icengine")
          label(for="icengine") Это двигатель внутреннего сгорания?
        .control
          input#fridge(type="checkbox", name="fridge")
          label(for="fridge") Необходимо соблюдение температурного режима для груза (+ или - °С)?
        .control
          input#oversized(type="checkbox", name="oversized")
          label(for="oversized") Негабаритный груз?

      fieldset
        legend
          h3.h3 Направление
        .control
          label(for="direction-from") Место отправления
          select#direction-from
            option(selected, value) &lt;не выбрано&gt;
            each placeName, place in places
              option(value=place)=placeName
        .control
          label(for="direction-to") Место получения
          select#direction-to
            option(selected, value) &lt;не выбрано&gt;
            each placeName, place in places
              option(value=place)=placeName

  div(style="display: none;")
    |        // ДВС
    |        "ice" => array(2000, 2800, 3600, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),

    |        // рефрижераторная установка
    |        "ref" => array(4000, 8000, 8000, 4000, 8000, 8000, 4000, 4000, 4000, 4000, 4000, 8000, 8000, 8000, 4000),

    |        // минимально за мелкий груз
    |        "min" => array (
    |			// документы до 0.5 кг, в расчете не учитываются
    |			array( 250, 350, 350, 250, 350, 350, 250, 250, 250, 250, 250, 250, 250, 250, 250 ),
    |			// первый минимум, примерно от 1 кг до 70 кг  (0.35 м куб.)
    |			array( 350, 500, 650, 350, 450, 600, 300, 300, 350, 300, 300, 500, 450, 400, 150 ),
    |			// второй минииум, примерно от 70 кг (0.35 м куб.) до 150 кг (0,75 м куб.)
    |			array( 750, 1200, 1350, 750, 1050, 1250, 600, 550, 750, 650, 600, 1050, 1000, 850, 350 ),
    |		),

    |        // легкий груз
    |        "light" => array(
    |            // до 5 метров куб.
    |            array(1000, 1600, 1800, 1000, 1400, 1700, 740, 700, 1100, 900, 1100, 1600, 1600, 1300, 500),
    |            // от 5 до 25 метров куб.
    |            array(960, 1400, 1700, 800, 1200, 1600, 600, 540, 1000, 800, 1000, 1400, 1400, 1100, 400),
    |            // от 25 до 50 метров куб.
    |            array(800, 1200, 1600, 700, 1000, 1500, 500, 440, 900, 700, 800, 1200, 1200, 1000, 380),
    |            // от 50 до 75 метров куб.
    |            array(760, 1100, 1500, 640, 900, 1400, 420, 400, 800, 640, 600, 1000, 1000, 900, 340),
    |            // более 75 метров куб.
    |            array(660, 1000, 1300, 600, 800, 1200, 400, 380, 740, 600, 400, 800, 800, 700, 300)
    |        ),

    |        // тяжелый груз
    |        "heavy" => array(
    |            // до 1000 кг
    |            array( 5.00, 8.00, 9.00, 5.00, 7.00, 8.50, 3.70, 3.50, 5.50, 4.50, 5.50, 8.00, 8.00, 6.50, 2.50 ),
    |            // от 1000 до 5000 кг
    |            array( 4.80, 7.00, 8.50, 4.00, 6.00, 8.00, 3.00, 2.70, 5.00, 4.00, 5.00, 7.00, 7.00, 5.50, 2.00 ),
    |            // от 5000 до 10000 кг
    |            array( 4.00, 6.00, 8.00, 3.50, 5.00, 7.50, 2.50, 2.20, 4.50, 3.50, 4.00, 6.00, 6.00, 5.00, 1.90 ),
    |            // от 10000 до 15000 кг
    |            array( 3.80, 5.50, 7.50, 3.20, 4.50, 7.00, 2.10, 2.00, 4.00, 3.20, 3.00, 5.00, 5.00, 4.50, 1.70 ),
    |            // более 15000 кг
    |            array( 3.30, 5.00, 6.50, 3.00, 4.00, 6.00, 2.00, 1.90, 3.70, 3.00, 2.00, 4.00, 4.00, 3.50, 1.50 )
    |        )
