extends ../pug/layout
block variables
  -title = "Документы"

block head
  link(rel="canonical", href="docs.html")

block content
  article
    h2.visually-hidden Документы

    section
      h3.h3 Документы, необходимые при отправке груза
      p.
        #[strong Транспортная накладная] (документы на перевозимый груз) в 4-х экземплярах,
        согласно гл. 2 статья 8. п. 1 Федерального закона «Устав автомобильного
        транспорта и городского наземного электрического транспорта», п. 2.1.1 Правил
        дорожного движения.

      h4.h4 Дополнительно для отдельных видов груза

      ul
        li
          | ДВС или иной номерной агрегат:
          ol
            li.
              #[strong документы, подтверждающие право владения] на номерной агрегат (справка-счет,
              договор купли-подажи, ПТС, таможенная декларация с синей печатью продавца);
            li #[strong доверенность на перевозчика];

        li
          | Пищевые продукты:
          ol
            li #[strong сертификаты соответствия] с синей печатью грузоотправителя или владельца груза;
            li #[strong качественное удостоверение] на продукцию или документ его заменяющий;
        li
          | Корма для животных, рыбопродукция (мороженная или сушенная), мясопродукция (мороженная и сушенная):
          ol
            li #[strong сертификаты соответствия] с синей печатью грузоотправителя или владельца груза;
            li #[strong ветеринарное свидетельство];

    section#contracts
      h3.h3 Договоры
      ul
        li
          a.word(href="/files/contracts/tkberg-contract-balobaev-20221012.docx") ИП Балобаев А.В. Договор перевозки (2022-10-12)
        li
          a.word(href="/files/contracts/tkberg-contract-berg-20221012.docx") ИП Берг П.Г. Договор перевозки (2022-10-12)
        li
          a.word(href="/files/contracts/tkberg-contract-gorshunov-20221012.docx") ИП Горшунов О.Н. Договор перевозки (2022-10-12)

    section
      h3.h3 Прочие документы
      ul
        li
          a.word(href="/files/trebovanija_predjavljaemye_pri_priemke_1_1.docx") Требования к приемке грузов
        li
          a.word(href="/files/tn.docx") ТТН
        li
          a.word(href="/files/tarify_na_dop.uslugi.docx") Тарифы на дополнительные услуги
        li
          a.pdf(href="/files/blank_dokumenta_obschiy_razovaya_doverennost_na_poluchenie_i_otpravku_gruza_20181108.pdf") Доверенность
        li
          a.word(href="/files/blank_izmenenij_dannyh.docx") Изменение участника перевозки
        li
          a.word(href="/files/obrazec_pretenzii_1.docx") Бланк претензии
        li
          a.word(href="/files/pamjatka_po_oforml.pretenzij.docx") Памятка по оформлению претензии
        li
          a.word(href="/files/iskluchenija_iz_dogovora_strahovanija.docx") Исключения из договора страхования
