extends ../pug/layout

block head
  link(rel="stylesheet", href="vendor/swiper/swiper-bundle.min.css")
  link(rel="stylesheet", href="css/swiper.css")
  script(src="vendor/swiper/swiper-bundle.min.js")
  style.
    .swiper-slide-img {
      object-fit: contain;
    }

block content
  article
    h2.visually-hidden Главная страница

    .swiper-container.mySwiper
      .swiper-wrapper
        -
          const slides = [
            {file: "01@x1200.jpg", alt: "Три тягача Вольво"},
            {file: "02@x1200.jpg", alt: "Автопоезд"},
            {file: "04@x1200.jpg", alt: "Вилочный автопогрузчик"},
            {file: "05@x1200.jpg", alt: "Три прицепа с установленными БДФ"},
            {file: "06@x1200.jpg", alt: "Ряд из пяти контейнеров на прицепах, двери открыты, виден груз -- картонные коробки"},
            {file: "08@x1200.jpg", alt: "Пять тягачей Вольво"},
            {file: "11@x1200.jpg", alt: "Два прицепа с белыми и синим контейнерами"},
            {file: "12@x1200.jpg", alt: "Вилочный погрузчик устанавливает груз на прицеп"},
            {file: "13@x1200.jpg", alt: "Вилочный погрузчик заехал внутрь контейнера"},
            {file: "14@x1200.jpg", alt: "Вилочный погрузчик с грузом заезжает внутрь контейнера"},
            {file: "15@x1200.jpg", alt: "Вилочный погрузчик с грузом -- бухтой кабеля большого диаметра"},
          ]
        each slide, idx in slides
          .swiper-slide(data-hash="slide" + (idx+1))
            img.swiper-slide-img(src="img/slides/presentation/"+slide.file, alt=slide.alt)

      .swiper-button-prev
      .swiper-button-next
    .swiper-pagination

  script.
    (()=>{
      const swiper = new Swiper(".mySwiper", {
        zoom: true,
        spaceBetween: 30,
        effect: ["cube", "flip", "coverflow","fade"][3],
        // autoplay: {
        //   delay: 12500,
        //   disableOnInteraction: true,
        // },
        hashNavigation: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        a11y: {
          firstSlideMessage: 'Это первый слайд',
          prevSlideMessage: 'Предыдущий слайд',
          nextSlideMessage: 'Следующий слайд',
          lastSlideMessage: 'Это последний слайд',
          paginationBulletMessage: 'Перейти к слайду {{index}}'
        },
      });
    })();
