extends ../pug/layout
block variables
  -title = "Условия перевозки"

block head

block content
  article
    h2.h2 Условия перевозки груза
    section
      h3.h3 Сроки доставки
      p Гарантия доставки мелкого груза с момента отгрузки его перевозчику по направлениям:
      ul
        li Владивосток&mdash;Хабаровск, Хабаровск&mdash;Благовещенск и в обратном направлении &mdash; в течение трех суток.
        li Владивосток&mdash;Благовещенск и в обратном направлении &mdash; в течение пяти суток.

    section
      h3.h3 Страхование груза
      p Если стоимость одной тонны груза (5 м³) более 50 тыс. руб. (50 руб./кг), то груз страхуется за счет клиента по следующим тарифам:
      ul
        li В направлении Владивосток&mdash;Хабаровск &mdash; 0,22% от стоимости груза;
        li В направлении Владивосток&mdash;Благовещенск &mdash; 0,38% от стоимости груза;
        li В направлении Владивосток&mdash;Комсомольск-на-Амуре &mdash; 0,35% от стоимости груза.

    section
      h3.h3 Хранение груза
      p
        | Если  груз, предназначенный к отправке, не был отправлен в тот же день, перевозчик обязуется обеспечить
        | его сохранность и бесплатное хранение до даты отправки, но не более пяти дней.
        | За последующие дни хранения стоимость составит
      ul
        li Объем менее 1 м³ / 200 кг &mdash; 200 руб./сутки;
        li Объем более 1 м³ / 200 кг &mdash; 500 руб./сутки.
      p
        | Если клиент, оповещенный должным образом, не забрал груз с терминала перевозчика во Владивостоке в день его оповещения,
        | то первые 24 часа груз хранится бесплатно, а за последующие дни стоимость хранения составит:
      ul
        li Объем менее 1 м³ / 200 кг &mdash; 200 руб./сутки;
        li Объем более 1 м³ / 200 кг &mdash; 500 руб./сутки;
        li Объем более 45 м³ / 10 т &mdash; по согласованию с клиентом.

    section
      h3.h3 Упаковка и меры по обеспечению сохранности груза
      p
        | Если  груз, сдаваемый для перевозки, требует для обеспечения его сохранности в пути специальной тары
        | (обрешетки, обертывания стрейч-пленкой, крепления киперной лентой и прочее), то перевозчик предоставляет #[a.link(href="package.html") услуги упаковки].
