extends pug/layout

block content
  article
    h2.h2 Перевозка контейнеров

    p Перевезем 20-футовые контейнеры по нашим направлениям.
    p Мы гарантируем:
    ul
      li Согласованные сроки доставки;
      li Полную сохранность груза;
      li Правильное оформление транспортных документов;
      li Ежедневное слежение за продвижением грузов;
    p Вопросы по организации вывоза, возврата, перегруза: #[a(href="tel:+79243304323") +79243304323] Виталий
