extends pug/layout

block head

block content
  article
    h2.visually-hidden Документы

    section
      h3.h3 Перечень документов, необходимых при отправке груза

      ul
        li
          | Обычный груз:
          ol
            li.
              #[strong транспортная накладная] (документы на перевозимый груз) в 4-х экземплярах,
              согласно гл. 2 статья 8. п. 1 Федерального закона «Устав автомобильного
              транспорта и городского наземного электрического транспорта», п. 2.1.1 Правил
              дорожного движения;

        li
          | ДВС или иной номерной агрегат:
          ol
            li.
              #[strong транспортная накладная] (документы на перевозимый груз) в 4-х экземплярах,
              согласно гл. 2 статья 8. п. 1 Федерального закона «Устав автомобильного
              транспорта и городского наземного электрического транспорта», п. 2.1.1 Правил
              дорожного движения;
            li.
              #[strong документы, подтверждающие право владения] на номерной агрегат (справка-счет,
              договор купли-подажи, ПТС, таможенная декларация с синей печатью продавца);
            li #[strong доверенность на перевозчика]

        li
          | Пищевые продукты:
          ol
            li.
              #[strong транспортная накладная] (документы на перевозимый груз) в 4-х экземплярах,
              согласно гл. 2 статья 8. п. 1 Федерального закона «Устав автомобильного
              транспорта и городского наземного электрического транспорта», п. 2.1.1 Правил
              дорожного движения;
            li #[strong сертификаты соответствия] с синей печатью грузоотправителя или владельца груза;
            li #[strong качественное удостоверение] на продукцию или документ его заменяющий;
        li
          | Корма для животных, рыбопродукция (мороженная или сушенная), мясопродукция (мороженная и сушенная):
          ol
            li.
              #[strong транспортная накладная] (документы на перевозимый груз) в 4-х экземплярах,
              согласно гл. 2 статья 8. п. 1 Федерального закона «Устав автомобильного
              транспорта и городского наземного электрического транспорта», п. 2.1.1 Правил
              дорожного движения;
            li #[strong сертификаты соответствия] с синей печатью грузоотправителя или владельца груза;
            li #[strong ветеринарное свидетельство];
