extends pug/layout

block content
  section.package-page
    h2.h2.visually-hidden Упаковка
    section.package-page__section
      h3.h3 Тарифы на упаковку и маркировку груза
      p.
        Если клиент привез груз, требующий для обеспечения его сохранности в пути специальной тары
        (обрешетки, обертывания стрейч-пленкой, крепления/увязки проволокой), то по согласованию с клиентом
        перевозчик предоставляет услуги упаковки по цене как ниже указано:

      .package-tariff-list
        .package-tariff-list__item
          .package-tariff-list__item-name.
            Жесткая упаковка (для негабаритного груза, один из размеров которого превышает длину 1,2 м,
            ширину 0,8 м, высоту 1.0 м применяется К = 1,3)
          .package-tariff-list__item-price 1400 руб. / м³

        .package-tariff-list__item
          .package-tariff-list__item-name.
            Мягкая упаковка: картон, стрейч пленка, пузырьковая пленка
          .package-tariff-list__item-price 400 руб. / м²

        .package-tariff-list__item
          .package-tariff-list__item-name Маркировка груза
          .package-tariff-list__item-price 10 руб. / место

        .package-tariff-list__item
          .package-tariff-list__item-name Обрешетка плоского негабаритного груза
          .package-tariff-list__item-price 300 руб. / м²

        .package-tariff-list__item
          .package-tariff-list__item-name Упаковка плоского негабаритного груза
          .package-tariff-list__item-price 200 руб. / м²

        .package-tariff-list__item
          .package-tariff-list__item-name Упаковка лобового стекла
          .package-tariff-list__item-price 1600 руб. / шт.

        .package-tariff-list__item
          .package-tariff-list__item-name Предоставление европаллет (без возврата паллеты)
          .package-tariff-list__item-price 300 руб. / шт.

        .package-tariff-list__item
          .package-tariff-list__item-name Проверка наличия и слив технических жидкостей
          .package-tariff-list__item-price 300 руб. / ед.

        .package-tariff-list__item
          .package-tariff-list__item-name Жесткая упаковка (увязка проволокой), дополнительно к стоимости упаковки
          .package-tariff-list__item-price от 700 руб. / ед.

        .package-tariff-list__item
          .package-tariff-list__item-name Паллетирование (укладка груза на паллет, фиксация стрейч пленкой)
          .package-tariff-list__item-price 300 руб. / ед.
      p
        |Заказ обрешетки и упаковки
        |
        a(href="tel:+79243301101") +79243301101
        |
        | Кирилл

    section.package-page__section
      h3.h3 Виды упаковки груза
      .package-list
        .package-list__item
          figure.package-list__figure
            img.package-list__img(src="img/package/pallet.png", alt="Паллета")
            figcaption.package-list__caption Паллета
          .package-list__description Поддон или паллета — транспортная тара, средство пакетирования, которое имеет жесткую площадку и место, достаточное для создания укрупненной грузовой единицы. Предназначен для хранения груза и его перемещения с помощью механических средств.

        .package-list__item
          figure.package-list__figure
            img.package-list__img(src="img/package/crate.png", alt="Груз в обрешетке")
            figcaption.package-list__caption Жесткая упаковка (обрешетка груза)
          .package-list__description Поддон или паллета — транспортная тара, средство пакетирования, которое имеет жесткую площадку и место, достаточное для создания укрупненной грузовой единицы. Предназначен для хранения груза и его перемещения с помощью механических средств.

        .package-list__item
          figure.package-list__figure
            img.package-list__img(src="img/package/stretch.png", alt="Ящик, упакованный стрейч-пленкой")
            figcaption.package-list__caption Стрейч-пленка
          .package-list__description Пленка стрейч является современным упаковочным материалом. Обладая самоклеящимися свойствами, она идеально подходит для защиты предметов от влаги, пыли.

        .package-list__item
          figure.package-list__figure
            img.package-list__img(src="img/package/bag.png", alt="Мешок с пломбой")
            figcaption.package-list__caption Мешок с пломбой
          .package-list__description Пластиковые пломбы для мешков - это устройства, которые предназначены для опломбирования горловин почтовых и других мешков

        .package-list__item
          figure.package-list__figure
            img.package-list__img(src="img/package/air-bubble.png", alt="Рулон воздушно-пузырьковой пленки")
            figcaption.package-list__caption Воздушно-пузырьковая пленка
          .package-list__description Воздушно-пузырчатая пленка – современный и экологически чистый упаковочный материал, изготовляемый из ПВД. Пузырьки с воздухом абсорбируют возможные удары, тем самым защищая упаковку вашего груза.

        .package-list__item
          figure.package-list__figure
            img.package-list__img(src="img/package/palletization.png", alt="Аппарат для паллетизации в работе")
            figcaption.package-list__caption Паллетизация
          .package-list__description Паллетизация - это укладывание груза на паллеты, тщательная обмотка стрейч-пленкой и стягивание  скотчем.
