extends pug/layout

block content
  article
    h2.h2 Форма оплаты
    p Для физических и юридических лиц транспортная компания Берг предлагает несколько удобных способов оплаты.
    section
      h3.h3 Наличный расчет
      p.
        Оплата производится при сдаче/получении груза в офисах компании,
        расположенных в городах Владивосток, Хабаровск, Благовещенск, Комсомольск-на-Амуре, а так же водителю.
    section
      h3.h3 Безналичный расчет
      p.
        Безналичный расчет производится при условии заключения договора перевозки.
        Расчеты с перевозчиком осуществляется по факту выполненной услуги.
        Либо в течение трех банковских дней со дня выставления счета (по электронной почте, факсу)
        путем перечисления денежных средств на расчетный счет перевозчика, по особым договоренностям!
      p.
        Оригиналы первичной документации (счет и акт выполненных работ) можно также получить
        в офисах компании или могут быть отправлены почтой.
